* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*color*/
/*#F44336*/
/*rouge*/
/*#E91E63*/
/*rose fluo*/
/*#9C27B0*/
/*violet*/
/*#673AB7*/
/*bleu violet*/
/*#3F51B5*/
/*bleu*/

/*********************************************** header ***********************************************/

.header {
    background-image: url(fond_header_m.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 530px;
    position: relative;
    filter: blur(0px);
    transition-duration: 0.8s;
}

.header_blur{
    filter: blur(10px);
    transition-duration: 0.8s;

}



/************************* btn mobile*/

.cadre_mobile{
    position: relative;
    z-index: 1;
}

.btn_mobile {
    width: 40px;
    height: 50px;
    position: fixed;
    top: 10px;
    right: 25px;
    transition-duration: 0.8s;

}

.btn_mobile_active{
    right: 180px;
    transition-duration: 0.8s;
}

.sp1btnm {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 11px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition-duration: 0.8s;
}

.sp2btnm {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 22px;
    opacity: 1;
    transition-duration: 0.8s;
}

.sp3btnm {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 33px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition-duration: 0.8s;
}

.sp1btnm_active {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 22px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    transition-duration: 0.8s;
}

.sp2btnm_active {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 22px;
    opacity: 0;
    transition-duration: 0.8s;

}

.sp3btnm_active {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 22px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    transition-duration: 0.8s;
}

/***************************/

/************************* cadre texte*/

.cadre_texte_header {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding-top: 150px;
}

.h1 {
    text-align: center;
    font-size: 35px;
}

.h2 {
    text-align: center;
    padding-top: 15px;
    font-size: 23px;
}

.sous_titre {
    text-align: center;
    font-style: italic;
    font-size: 15px;
}


/***************************/

/************************* menu header*/

.nav{
    width: 50%;
    position: fixed;
    top: 60px;
    right: -1000px;
    transition-duration: 0.8s;
}

.nav_active{
    width: 50%;
    position: fixed;
    top: 60px;
    right: 0px;
    transition-duration: 0.8s;
}

.nav_ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.nav li{
    list-style: none;
    text-align: right;
    padding: 10px 65px 10px 0px;
}

.nav a{
    text-decoration: none;
    color: #ffffff;
}

/***************************/

/************************* img header*/

.img_profil{
    margin-top: 25px;
    border-radius: 50%;
    border: solid 5px #ffffff ;
    height: 180px;
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/***************************/

/***************************************************************************/

/*********************************************** main ***********************************************/

.main{
    filter: blur(0px);
    transition-duration: 0.8s;
}

.main_blur{
    filter: blur(10px);
    transition-duration: 0.8s;

}

/************************* sec 1*/

.sec_1{
    background-color: #3F51B5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

.cadre_sec_1{
    padding: 15px;
    background-color: #673AB7;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.9),
    -1px 2px 20px rgba(0, 0, 0, 0.3) inset;
}

.cadre_sec_1 h3{
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    padding: 15px 0px 15px 0px;
}

.ti_para{
    font-weight: bold;
    font-size: 17px;
    color: #ffffff;
    padding: 15px 0px 2px 0px;
}

.ti_para a{
    color: #ffffff;
    text-decoration: none;
}

.para{
    font-size: 14px;
    color: #81ecec;
}

.para a{
    text-decoration: none;
    color: #81ecec;
}

.info_date_formation{
    font-style: italic;
    font-size: 11px;
    color: #81ecec;
    padding-bottom: 25px;
}

/***************************/

/***************************************************************************/
